.alerta{

    text-align: center;
    text-transform: uppercase;
    font-weight: $bold;
    padding: 1rem;
    margin: 1rem 0;
    color: $blanco;

    &.error{
        background-color: $rojo;
    }
    &.exito{
        background-color: $verde;
    }
}

table.propiedades{ // Solo afectara a las tablas con la clase propiedades
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0; // Quita el espacio entre los bordes de las celdas

    thead{
        background-color: $verde;

        th{
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla{
        width: 10rem;
    }
}

.imagen-small{
    width: 20rem;
}